[submodule "doc/MScRThesis"]
	path = doc/MScRThesis
        url = https://github.com/av-maramzin/MSc-by-Research-Thesis
[submodule "benchmarks/nauseous"]
	path = benchmarks/nauseous
        url = https://github.com/av-maramzin/nauseous
[submodule "benchmarks/SNU_NPB"]
	path = benchmarks/SNU_NPB
        url = https://github.com/av-maramzin/SNU_NPB
