[submodule "doc/MScRThesis"]
	path = doc/MScRThesis
        url = https://github.com/av-maramzin/MSc-by-Research-Thesis
[submodule "benchmarks/nauseous"]
	path = benchmarks/snu-npb/nauseous
	url = https://github.com/av-maramzin/nauseous.git
[submodule "benchmarks/SNU_NPB"]
	path = benchmarks/snu-npb/SNU_NPB
	url = https://github.com/av-maramzin/SNU_NPB.git
[submodule "reports"]
	path = reports
	url = https://github.com/av-maramzin/reports
[submodule "benchmarks/nauseous-omp"]
	path = benchmarks/snu-npb/nauseous-omp
	url = https://github.com/av-maramzin/nauseous.git
[submodule "benchmarks/snu-npb/SNU_NPB"]
	path = benchmarks/snu-npb/SNU_NPB
	url = https://github.com/av-maramzin/SNU_NPB.git
[submodule "benchmarks/snu-npb/nauseous"]
	path = benchmarks/snu-npb/nauseous
	url = https://github.com/av-maramzin/nauseous.git
[submodule "benchmarks/snu-npb/nauseous-omp"]
	path = benchmarks/snu-npb/nauseous-omp
	url = https://github.com/av-maramzin/nauseous.git
[submodule "benchmarks/spec-cpu2006/spec-cpu2006-raw"]
	path = benchmarks/spec-cpu2006/spec-cpu2006-raw
	url = https://github.com/av-maramzin/spec-cpu2006-raw.git
[submodule "benchmarks/spec-cpu2006/specious"]
	path = benchmarks/spec-cpu2006/specious
	url = https://github.com/av-maramzin/specious.git
[submodule "scripts/icc"]
	path = scripts/icc
	url = https://github.com/av-maramzin/icc-opt-report-compiler.git
[submodule "doc/PACT2019"]
	path = doc/PACT2019
	url = https://github.com/av-maramzin/PParMetrics-ML-PACT2019.git
[submodule "doc/AI_SEPS_2019"]
	path = doc/AI_SEPS_2019
	url = https://github.com/av-maramzin/AI_SEPS_2019_ML_Loop_Parallelization.git
